/* general css rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: montserrat;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgb(255, 123, 0);
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 5px;
    z-index: 1;
}

    #header-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 65%;
        height: 100%;
    }


        .tabs {
            color: white;
            font-size: 15px;
            font-weight: 600;
            margin-right: 8px;
        }

        #logo {
            height: 30px;
        }

        .social {
            color: white;
            margin-right: 8px;
        }



main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

    #main-container {
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 120px;
    }

        .item {
            width: 30%;
        }

            .image-container {
                position: relative;
            }

            .image-container:hover .img-hover{
                display:block;
            }

            .image-container img {
                max-width: 100%;
            }

            .img-hover {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                max-width: 100%;
            }

            .heart {
                position: absolute;
                top: 20px;
                right: 0px;
                font-size: 40px;
                padding: 0px 10px;
                background-color: white;
            }

            .heart:hover {
                color: red;
            }

            .discount {
                position: absolute;
                bottom: 50px;
                left: 0px;
                font-size: 15px;
                padding: 0px 10px;
                background-color: rgb(255, 74, 74);
                color: white;
            }

            .sust {
                position: absolute;
                bottom: 50px;
                left: 65px;
                font-size: 15px;
                padding: 0px 10px;
                background-color: rgb(47, 192, 90);
                color: white;
            }

            .sust-6 {
                left: 0px;
            }

            .description span, h4 {
                    font-size: 14px;
            }

            .price {
                color: red;
                font-weight: 700;
            }
            
            .old-price {
                text-decoration: line-through;
            }





/* footer */

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    height: 100px;
    width: 100%;
}


    #footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 65%;
    }

        #footer-left h4 {
            color: white;
            font-size: 18px;
            padding-right: 5px;
            margin-bottom: 10px;
        }

        #footer-left a {
            color: white;
            font-size: 13px;
            padding-right: 5px;
        }

        #footer-right span {
            display: inline-block;
            color: white;
            font-size: 17px;
            margin-bottom: 10px;
        }

        #icons a {
            color: white;
            font-size: 18px;
            padding-right: 5px;
        }

