/* general css rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: montserrat;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgb(255, 123, 0);
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 5px;
    z-index: 1;
}

    #header-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
    }


        .tabs {
            color: white;
            font-size: 15px;
            font-weight: 600;
            margin-right: 8px;
        }

        #logo {
            height: 30px;
        }

        .social {
            color: white;
            margin-right: 8px;
        }



main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#main-container {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 120px;
}

.item {
    width: 30%;
    position: relative;
}

.image-container img {
    max-width: 100%;
}

.description {

}

.heart {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 40px;
    padding: 0px 10px;
    background-color: white;
}

.discount {
    position: absolute;
    bottom: 50px;
    left: 0px;
    font-size: 15px;
    padding: 0px 10px;
    background-color: rgb(255, 74, 74);
}

.sust {
    position: absolute;
    bottom: 50px;
    left: 65px;
    font-size: 15px;
    padding: 0px 10px;
    background-color: rgb(47, 192, 90);
}

